.container {
  margin: 10px 0;
}

.inputContainer {
  text-align: center;
}

.brush {
  font-family: 'Brush Script MT', cursive;
}

.papyrus {
  font-family: Papyrus, fantasy;
}
.courier {
  font-family: 'Courier New', monospace;
}

.times {
  font-family: 'Times New Roman', serif;
}

.groupContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radioWrapper {
  width: 50%;
  padding: 20px;
  cursor: pointer;
}
.radioWrapper:hover {
  background-color: #a8bff8;
}

.mainFontSize {
  font-size: 20px;
}
